<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ColorBlend Solutions</title>
    <link rel="stylesheet" href="./css/landing.css" />
    <%- include('./templates/head.ejs') %>
  </head>
  <body>
    <%- include('./templates/header.ejs') %>

    <main>
      <section class="home">
        <h1>Welcome to ColorBend Solutions</h1>
        <p>
          At ColorBend Solutions, we are passionate about colors and their
          transformative power. As a leading provider of high-quality paints and
          coatings, we strive to inspire creativity and bring life to every
          surface.
        </p>
        <p>
          With a commitment to innovation and sustainability, we offer a wide
          range of products tailored to meet the diverse needs of our customers.
        </p>
        <p>
          Whether you're a homeowner, contractor, or designer, join us in our
          mission to transform spaces and create lasting impressions with the
          power of color.
        </p>
        <div class="action-buttons">
          <button class="btn">Shop Now</button>
          <button class="btn">Explore Colors</button>
        </div>
      </section>
    </main>
    <%- include('./templates/footer.ejs') %>
  </body>
</html>
