<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ColrBlend - Admin DashBoard Login Page</title>
  <link rel="stylesheet" href="./css/login_dashboard_admin.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/">
        <img src="./images/Only letters logo.png" alt="" id="logo">
      </a>
    
      <h1 class="title">ColorBlend Solutions</h1>
    </nav>
  </header>

  <div class="loginForm">
    <div class="inputDiv">
      <label for="User"> User </label>
      <input type="text" id="User" placeholder="Enter your user here" value="">
    </div>
    <div class="inputDiv">
      <label for="Password"> Password </label>
      <input type="password" id="Password" placeholder="Enter your password here" value="">
    </div>


    <button id="SubmitBtn">LogIn</button>
  </div>

  <script src="./js/login_dashboard_admin.js"></script>
</body>
</html>