<footer>
  <div class="footer-content">
    <p>&copy; 2024 ColorBend Solutions. All rights reserved.</p>
    <p class="slogan">Where every brush stroke tells a story</p>
    <div class="social-links">
      <a href="#" class="social-icon"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
      <a href="#" class="social-icon"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a href="#" class="social-icon"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a href="#" class="social-icon"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
      <a href="#" class="social-icon"
        ><ion-icon name="logo-pinterest"></ion-icon
      ></a>
      <a href="#" class="social-icon"
        ><ion-icon name="logo-youtube"></ion-icon
      ></a>
    </div>
  </div>

  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</footer>
