<header>
  <nav class="navbar">
    <a href="/">
      <img src="./images/Only letters logo.png" alt="" id="logo" />
    </a>
    <ul class="itemList">
      <li><a class="item" href="/">Home</a></li>
      <li><a class="item" href="/">Products</a></li>
      <li><a class="item" href="/about_us">About Us</a></li>
      <li><a class="item" href="/">Contact Us</a></li>
    </ul>
    <div class="loginDiv">
      <a href="/login" id="login">LogIn</a>
    </div>
  </nav>

  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
  <link rel="stylesheet" href="./css/templates/header.css" />
</header>
